
$primary: #BF4E30;
$secondary: #C6CCB2;
$third: #093824;

$dark: #1b263b;
$light_dark: #1c2541;

$gray: #8d99ae;
$light_gray: #E5EAFA;

$danger: #d90429;
$light_danger: #ef233c;
$warning: #D5A021;
$light_warning: #ffee32;

$primary_font: "Oswald", sans-serif;
$secondary_font: "Kanit", sans-serif;
