
@import "global_rules";

main { margin-top: 8%; }
#loan_form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

// Tabs Css =========
.tabs {
  border-radius: 5px;
  width: 70%;
}

// Steps Css =========
.tabs .steps {
  display: flex;
}
.tabs .steps .step {
  text-align: center;
  padding: 5px 0;
  background-color: $secondary;
  width: calc(100% / 3);
  border: 1px solid $third;
}
.tabs .steps .active {
  background-color: $third;
  color: $light_gray;
  position: relative;
}
.tabs .steps .active::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $third;
  position: absolute;
  bottom: -10%;
  transform: translateX(-50%) rotate(-45deg);
}

// Loan Information Css =========
.loan_information, .contact_information {
  background-color: $light_gray;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tabs .info_box {
  background-color: $secondary;
  padding: 5px 10px;
  border: 1px solid $third;
  margin-top: 20px;
}


// Summary Css =========
.summary {
  width: 25%;
  background-color: $light_gray;
  border: 1px solid $dark ;
  padding: 5px 10px;
}
.summary .title { color: $third; }
.summary .contents {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.summary .contents .information_section div {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.summary .contents .information_section .title {
  font-weight: bold;
  color: $third;
}
